<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :username %>
        <%= form.text_field :username, id: :user_username, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :admin %>
        <%= form.check_box :admin, id: :user_admin %>
      </div>
    </div>
  </div>
  <div class="row actions">
    <div class="col-md-4">
      <%= form.submit class: "btn btn-default"%>
    </div>
  </div>
<% end %>
