<%= form_with(model: pattern, local: true) do |form| %>
  <% if pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pattern.errors.count, "error") %> prohibited this pattern from being saved:</h2>

      <ul>
      <% pattern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :yarn %>
  <%= form.select :yarn_id, Yarn.all.map {|y| [ y.display_name, y.id ] }, {}, { id: :pattern_yarn_id } %>
  <p id="yarn-change" style="display:none;">
    please save and re-open this page after changing the yarn type
  </p>

  <% unless pattern.new_record? %>
    <table id="stripes" class="table">
      <tbody>
      <tr>
        <td>
          <button type="button" id="add-stripe">Add Stripe</button>
        </td>
      </tr>

      <% @pattern.stripes.each_with_index do |(color_key, width), index| %>
        <% selected_color = pattern.default_colors[color_key] %>
        <tr>
          <td>
            <% # THIS IS NOT OK %>
            <%= form.select "stripes][][color", @pattern.yarn.colors.map { |c| [c['name'], c['code']] }, { selected: selected_color } %>
          </td>
          <td>
            <%= form.select "stripes][][width", [1, 2, 3, 4, 5], { selected: width }%>
          </td>
          <td>
            <button type="button" class="remove-stripe">Remove</button>
          </td>
        </tr>
      <% end %>

      <tr id="copyable" class="hidden">
        <td>
          <%= form.select "stripes][][color", @pattern.yarn.colors.map { |c| [c['name'], c['code']] }, { include_blank: true }, { disabled: true } %>
        </td>
        <td>
          <%= form.select "stripes][][width", [1, 2, 3, 4, 5], {}, { disabled: true } %>
        </td>
        <td>
          <button type="button" class="remove-stripe">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script type="text/javascript">
  var $copyable = $('#copyable');
  $('#add-stripe').click(function() {
    $copyable
      .clone()
      .appendTo("#stripes tbody")
      .removeClass('hidden')
      .find('[disabled]')
      .attr('disabled', false)
      .focus();
  });

  $('body').on('click', '.remove-stripe', function(e){
    var $target = $(e.target);
    $target.closest('tr').remove();
  });

  $('select#pattern_yarn_id').on('change', function(){
    $('#yarn-change').show();
    $('#stripes').hide();
  });
</script>


