<%= form_with(model: pattern, local: true) do |form| %>
  <% if pattern.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pattern.errors.count, "error") %> prohibited this pattern from being saved:</h2>

      <ul>
      <% pattern.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group col-md-4">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>

    <%= form.label :yarn %>
    <%= form.select :yarn_id, Yarn.all.map {|y| [ y.display_name, y.id ] }, {}, { id: :pattern_yarn_id, class: "form-control" } %>
    <p id="yarn-change" style="display: none;">
      please save and re-open this page after changing the yarn type
    </p>
  </div>
  <hr />

  <% unless pattern.new_record? %>
    <table id="stripes" class="table">
      <thead>
      <th>Color</th>
      <th># of Threads</th>
      </thead>
      <tbody>
      <% @pattern.stripes.each_with_index do |(color_key, width), index| %>
        <% selected_color = pattern.default_colors[color_key] %>
        <tr class="mirrorable">
          <td>
            <% # THIS IS NOT OK %>
            <%= form.select "stripes][][color", @pattern.yarn.colors.map { |c| [" #{c['name'].titlecase} (##{c['code']})", c['code']] }, { selected: selected_color }, { class: "form-control" } %>
          </td>
          <td>
            <%= form.text_field "stripes][][width", value: width, class: "form-control" %>
          </td>
          <td>
            <button type="button" class="remove-stripe btn">Remove</button>
          </td>
        </tr>
      <% end %>

      <tr id="copyable" class="hidden">
        <td>
          <%= form.select "stripes][][color", @pattern.yarn.colors.map { |c| [" #{c['name'].titlecase} (##{c['code']})", c['code']] }, { include_blank: true }, { disabled: true, class: "form-control" } %>
        </td>
        <td>
          <%= form.text_field "stripes][][width", disabled: true, class: "form-control" %>
        </td>
        <td>
          <button type="button" class="remove-stripe btn">Remove</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button type="button" id="add-stripe" class="btn btn-default">Add Stripe</button>
    <button type="button" id="mirror-existing" class="btn btn-default">Mirror</button>
  <% end %>

  <hr/>

  <div class="actions">
    <%= form.submit class: "btn" %>
  </div>
<% end %>

<script type="text/javascript">
  var $copyable = $('#copyable');
  $('#add-stripe').click(function() {
    $copyable
      .clone()
      .appendTo("#stripes tbody")
      .removeClass('hidden')
      .addClass('mirrorable')
      .find('[disabled]')
      .attr('disabled', false)
      .focus();
  });

  $('#mirror-existing').click(function(){
    if(window.confirm("Are you sure you want to mirror the existing pattern? This might take a few seconds.")) {
      var stripes = $('table#stripes tr.mirrorable').get().reverse();
      $.each(stripes, function(idx, stripe) {
        $(stripe).clone().appendTo('#stripes tbody');
      });
    }
  });

  $('body').on('click', '.remove-stripe', function(e){
    var $target = $(e.target);
    $target.closest('tr').remove();
  });

  $('select#pattern_yarn_id').on('change', function(){
    $('#yarn-change').show();
    $('#stripes').hide();
  });
</script>


