<% if can?(:edit, @pattern) %>
  <%= link_to 'Edit', edit_pattern_path(@pattern) if can?(:edit, @pattern) %> |
<% end %>
<%= link_to 'Back', patterns_path %>

<h3><%= @pattern.name %></h3>

<div class="flex-container stripes">
  <% @pattern.scaled_stripes.each do |color, width| %>
    <span class="stripe color-<%= color %>" data-stripe="<%= color %>" style="width:<%= width %>%;"></span>
  <% end %>
</div>

<p>
  <a href="#" id="reset-defaults">
    Reset Default Colors
  </a>
</p>

<div id="targets">
  <% @pattern.default_colors.each do |key, _| %>
    <label class="color">
      Color <%= key.to_s.upcase %>
      <div class="target" data-stripe="<%= key %>"></div>
      <div class="color-code" data-stripe="<%= key %>"></div>
      <div class="color-name" data-stripe="<%= key %>"></div>
    </label>
  <% end %>
</div>

<p>
  Click on one of the swatches below, then click on a stripe to change the color.
</p>
<div id="swatches">
</div>

<p>
  <%= link_to "About", about_path %>
</p>
