
<div class="breadcrumbs">
  <% if request.referrer =~ /store\.vavstuga\.com/ %>
    <%= link_to "Vävstuga Store", "https://store.vavstuga.com/" %>
    > 
    <%= link_to @pattern.name, (request.referrer || patterns_path) %>
    > Choose Warp Colors
  <% end %>
</div>

<h3><%= @pattern.name %></h3>
<% if can?(:edit, @pattern) %>
  <%= link_to 'Edit', edit_pattern_path(@pattern.id) if can?(:edit, @pattern) %>
<% end %>
<div class="flex-container stripes">
  <% @pattern.scaled_stripes.each do |color, width| %>
    <span class="stripe color-<%= color %>" data-stripe="<%= color %>" style="width:<%= width %>%;"></span>
  <% end %>
</div>

<p>
  <a href="#" id="reset-defaults">
    Reset Default Colors
  </a>
</p>

<div id="targets">
  <% @pattern.default_colors.each do |key, _| %>
    <label class="color">
      Color <%= key.to_s.upcase %>
      <div class="target" data-stripe="<%= key %>"></div>
      <div class="color-code" data-stripe="<%= key %>"></div>
      <div class="color-name" data-stripe="<%= key %>"></div>
    </label>
  <% end %>
</div>

<p>
  Click on one of the swatches below, then click on a stripe to change the color.
</p>
<div id="swatches">
</div>

<p>
  <%= link_to "About", about_path %>
</p>
