<%= form_with(model: yarn, local: true) do |form| %>
  <% if yarn.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(yarn.errors.count, "error") %> prohibited this yarn from being saved:</h2>

      <ul>
      <% yarn.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, id: :yarn_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :size %>
        <%= form.text_field :size, id: :yarn_size, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="row actions">
    <div class="col-md-4">
      <%= form.submit class: "btn btn-default"%>
    </div>
  </div>
<% end %>
