<!DOCTYPE html>
<html>
  <head>
    <title>VavstugaDesign</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  
  <nav class="navbar navbar-expand-md navbar-light bg-faded">
  <a class="navbar-brand" href="/">🧵</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Patterns", patterns_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Yarns", yarns_path, class: "nav-link" %>
      </li>
      <% if can?(:read, User) %>
        <li class="nav-item">
          <%= link_to "Users", users_path, class: "nav-link" %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Change Password", edit_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to('Login', new_user_session_path)  %>
        </li>
    <% end %>
    </ul>
  </div>
</nav>
  </header>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

  <script type="text/javascript">
    <!-- declare globals for laziness -->
    <% if @default_colors %>
      var defaults = <%= @default_colors.to_json.html_safe %>;
    <% end %>

    <% if @yarn %>
      var colors = <%= @yarn.colors.to_json.html_safe %>;
      var bg = function(color) {
        return `url("https://store.vavstuga.com/mm5/graphics/00000001/<%= @yarn.slug %>-${color}.jpg")`
      };

      var colorName = function(color_code) {
        return colors.find(function(c) {
          return c.code == color_code;
        }).name;
      };      
    <% end %>
  </script>
  </body>
</html>
